footer{
    background-color: $color-primary;
    color: $color-secondary;
    height: 15vh;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: space-between;
    @include text_funcions ();
    font-size: 12px;

}

.menu-footer{
    height: 80%;
    width: 100%;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
    @media (min-width:480px){
        flex-direction: row;
        align-items: flex-end;
        gap: 15px;
    
    }

}

.copy{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    @media (min-width:480px){
        justify-content: center;
    }
}
.logo-sp{
    height: 20%;
}