footer{
    background-color: $color-primary;
    color: $color-secondary;
    margin: 10px color $color-primary;
    height: 15vh;
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: space-between;
    @include text_funcions ();

}

.menu-footer{
    height: 90%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (width>480px){
        flex-direction: row;
        align-items: flex-end;
        gap: 15px;
    
    }

}

.copy{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    @media (width>480px){
        justify-content: center;
    }
}
.logo-sp{
    height: 20%;
}