.header {
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    position: sticky;
    top: 0;
    left: 0;
    @media (width>480px){
        height: 60px;
        }
}
.nav{
    height: 100%;
 }
.menu{
    display: none;
    @include text_funcions ();
    font-size: 12px;
    @media (width>480px){
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        }
}

.logo1{
    height: 90%;

}
.logo2{
    height: 90%;
    @media (width>480px){
        display: none;
        }
}
