.header {
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
}
.nav{
    height: 100%;
 }
.menu{
    display: none;
}

.logo1{
    height: 90%;

}
.logo2{
  
    height: 90%;
}
@media (width>480px){
    .menu{
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        
        
    }
    .logo2{
        display: none;
    }
    .header{
        height: 60px;
    }
}
