.header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
}
.nav{
    height: 100%;
    
    
    
}
.menu{
    display: none;
}

.logo1{
    height: 100%;
    
 
}
.logo2{
  
    height: 100%;
}
@media (width>600px){
    .menu{
        display: flex;
        color: rosybrown;
        gap: 10px;
        
    }

    .logo2{
        display: none;
    }

}
