
.container{
    background-color: $color-bg;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
    text-align: left;
    padding: 15px;
    gap: 5px;
    font-family: $font-main;
    font-weight: bold;
    color: $color-secondary;
   

}
.image-dancer{
  display: none;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $color-buttom;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border-style: none;
   }

  .text-button{
    font-family: $font-main;
    text-decoration: none;
    color: $color-secondary;
  
  }

@media (width>480px){
   
    .button{
      width: 25%;
    
    }
   .image-dancer{
    background-image: url('/public/images/premium_dancer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   
    
}