

.grid{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    gap: 15px;
    justify-items: center;

}

.article{
    display: flex;
    flex-direction: row-reverse;
    
}