
.container{
    background-color: $color-bg;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
    text-align: left;
    padding: 15px;
    gap: 5px;
    @include text_funcions ();
    font-weight: bold;
    color: $color-secondary;
    @media (width>480px){
      background-image: url(../images/premium_dancer.png);
      background-repeat: no-repeat;
      background-position: right;
      flex-wrap: wrap;
                 
    }
}
.image-dancer{
   display: none;
  @media (width>480px){
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
 
 }
 
 }

.button{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: $color-buttom;
    width: 100%;
    height: 50px;
    width: 90%;
    border-radius: 25px;
    border-style: none;
    @media (width>480px){
        width: 25%;
      
      }
   }

  .text-button{
    font-family: $font-main;
    text-decoration: none;
    color: $color-secondary;
  
  }
 

