.section-white{
    margin: 15px;
    height: 70vh;
    background-color: $color-secondary;
    color: $color-primary;
    font-family: $font-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (width>480px){
        flex-direction: row; 
        flex-wrap: wrap;
        align-items:center;
       
    }


}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    @media (width>480px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
 
    }
 
}

.article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 10px;
 
}

.icono{
    width: 30%;
    
    
}
.titulo-white{
    text-align: center;
   
}
