<header class="header">
    <img src="./images/logo.png" alt="logo spoty" class="logo1">
    <nav class="nav">
        
        <img src="./images/menu-icon.png" alt="hamb" class="logo2">
         
       <div class="menu">     
            <spa><h6>Premium</h6></spa>
            <spa><h6>Ayuda</h6></spa>
            <spa><h6>Descargar</h6></spa>
            <span><h6>|</h6></span>
            <spa><h6>Registrarse</h6></spa>
            <spa><h6>Inicisar Sesión</h6></spa>
        </div> 
       
    </nav>
        
</header>