<section class="container">
       
    <div>
        <h1> Prueba Premium gratis 3 meses </h1>
    </div>

    <div>
        <h2> Escucha millones de canciones sin anuncios, a la carta y sin conexión 
        </h2>
    </div>

    <div>
        <button class="button">
            <a class="text-button" href=""><h4>VER PLANES</h4></a>
            
        </button>
    </div>

    <div>
        <h6> Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium </h6>
    </div>
     
</section>