/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

.header {
    background-color: black;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;

}

/*.nav{
    display:flex;
    justify-content: space-between;
}
    */
.menu{
    display: none;
}

.logo1{
    width: 40%;
 
}

.logo2{
    width: 50px;
}
