
@import 'core/variables';
@import 'core/reset';
@import "core/mixins";
.body_form{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    @include text_funcions();
}
.header_form{
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 20px;

}

.logo_black{
    height: 100%;
}

.main_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

}
.button_facebook{
    @include button_funtions();
    height: 30px;
    width: 80%;
    background-color: #435B8E;
    display: flex;
    flex-direction: row;
    justify-items: left;
    gap: 10px;
    

}
.facebook{
    height: 200%;
}

.button_google{
    @include button_funtions();
    height: 30px;
    width: 80%;
    background-color:white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-items: left;
    gap: 10px;
    color: black;
 
}
.google{
    height: 200%;
}
.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0; 
  }
.line{
    flex: 1;
    height: 1px;
    color: $color-text; 
}
.circle {
    margin: 0 10px; 
    font-size: 14px;
    color: $color-text; 
  }
  .container_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    
  }
  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 10px;
  }

  .button_register{
    @include button_funtions();
    color: black;
    width: 125px;
    height: 40px;
    

  }
  .birth{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

  }
  .gender{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

  }
.submit{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.link_form{
    text-decoration: none;
    color: $color-buttom;
}